<footer class="footer ornament-footer">
  <div class="container container-last">
    <div class="footer-nav-container">
      <ul class="nav-list-footer">
        <li class="footer-nav-item">
          <a class="footer-nav link" href="#About">ABOUT US</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav link" href="#Collection">OUR COLLECTION</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav link" href="#ORDER">CUSTOMER ORDER</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav link" href="#TEstimonials">TESTIMONIALS</a>
        </li>
      </ul>
    </div>
    <div class="slogan-container">
      <p class="slogan">
        A touch of <span class="ukrainian">Ukrainian</span> culture in every
        embroidery
      </p>
    </div>
    <div class="ornament-container"></div>
  </div>
</footer>
