<footer class="footer">
  <div class="container container-last">
    <div class="footer-nav-container">
      <ul class="nav-list-footer">
        <li class="footer-nav-item">
          <a class="footer-nav link" href="">ABOUT US</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav link" href="">OUR COLLECTION</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav link" href="">CUSTOMER ORDER</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav link" href="">TESTIMONIALS</a>
        </li>
      </ul>
    </div>
    <div class="slogan-container">
      <p class="slogan">
        A touch of <span class="ukrainian">Ukrainian</span> culture in every
        embroidery
      </p>
    </div>
    <div class="ornament-container">
      <picture>
        <source
          srcset="
            ./img/ornament-mobile-1x.png 1x,
            ./img/ornament-mobile-2x.png 2x
          "
        />
        <source
          srcset="
            ./img/ornament-tablet-1x.png 1x,
            ./img/ornament-tablet-2x.png 2x
          "
        />
        <source
          srcset="
            ./img/ornament-desktop-1x.png 1x,
            ./img/ornament-desktop-2x.png 2x
          "
        />
        <img
          class="ornament-footer"
          src="./img/ornament-desktop-1x.png"
          alt="ornament"
        />
      </picture>
    </div>
  </div>
</footer>
