<section class="hero">
  <div class="hero-container container">
    <div class="hero-container-box">
      <h1 class="hero-title">
        Reviving the traditional
        <span class="hero-title-wrap">Ukrainian</span>
        artistry in every stitch.
      </h1>
      <div class="hero-button-box">
        <button type="button" class="hero-button">
          <a class="anchor-hero" href="">Order</a>
          <svg class="hero-button-icons" width="24" height="17">
            <use href="./img/icons.svg#icon--1"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="hero-discription">
      <svg class="hero-discription-icons" width="52" height="51">
        <use href="./img/icons.svg#icon-Star-10"></use>
      </svg>
      <p class="hero-discription-text">all embroidery is made by hand</p>
    </div>

    <div class="hero-picture-box">
      <picture>
        <source
          srcset="
            ./img/hero-jpg/girl-hero-desk.jpg    1x,
            ./img/hero-jpg/girl-hero-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero-jpg/girl-hero-tab.jpg    1x,
            ./img/hero-jpg/girl-hero-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero-jpg/girl-hero-mob.jpg    1x,
            ./img/hero-jpg/girl-hero-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="hero-picture"
          src="./img/hero-jpg/girl-hero-desk.jpg"
          width="392"
          height="545"
          alt="girl in embroided shirt"
        />
      </picture>
    </div>

    <div class="hero-embroidery-element-img">
      <picture>
        <source
          srcset="
            ./img/hero-png/embroidery-element-desk1440.png    1x,
            ./img/hero-png/embroidery-element-desk1440-2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/hero-png/embroidery-element-desk.png    1x,
            ./img/hero-png/embroidery-element-desk-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero-png/embroidery-element-tab.png    1x,
            ./img/hero-png/embroidery-element-tab-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="./img/hero-png/embroidery-element-tab.png"
          width="157"
          height="191"
          alt="embroidery-element"
        />
      </picture>
    </div>
  </div>
</section>
