<section class="our-collection collection">
    <div class="container">
        <h2 class="our-title">Our collection</h2>
        <ul class="our-list">
          <li class="our-list-item">
            <img class="our-img"
            srcset="./img/black1-1x.jpg 1x,
                    ./img/black1-2x.jpg 2x" 
              src="./img/black1-1x.jpg"
              alt="black1"
              width="335"
              height="400"
              class="our-img"
            />
            <div class="our-name">
              <h3 class="our-subtitle">AUGUST Poltava women's blouseRING</h3>
              <p class="our-list-text">3300 UAH</p>
            </div>
          </li>
          <li class="our-list-item">
            <img class="our-img"
            srcset="./img/beige2-1x.jpg 1x,
                    ./img/beige2-2x.jpg 2x"
              src="./img/beige2-1x.jpg"
              alt="beige2"
              width="335"
              height="400"
              class="our-img"
            />
            <div class="our-name">
              <h3 class="our-subtitle">Women's blouse Gorgany</h3>
              <p class="our-list-text">3350 UAH</p>
            </div>
          </li>
          <li class="our-list-item">
            <img class="our-img"
            srcset="./img/white3-1x.jpg 1x,
                    ./img/white3-2x.jpg 2x"
              src="../img/white3-1x.jpg"
              alt="white3"
              width="335"
              height="400"
              class="our-img"
            />
            <div class="our-name">
              <h3 class="our-subtitle">Women's blouse Crimea</h3>
              <p class="our-list-text">4000 UAH</p>
            </div>
          </li>
          <li class="our-list-item">
            <img class="our-img"
            srcset="./img/beige4-1x.jpg 1x,
                    ./img/beige4-2x.jpg 2x"
              src="./img/beige4-1x.jpg"
              alt="beige4"
              width="335"
              height="400"
              class="our-list-img"
            />
            <div class="our-name">
              <h3 class="our-subtitle">Men's shirt Verkhovina</h3>
              <p class="our-list-text">3100 UAH</p>
            </div>
          </li>
          <li class="our-list-item">
            <img class="our-img"
            srcset="./img/black5-1x.jpg 1x,
                    ./img/black5-2x.jpg 2x"
              src="../img/black5-1x.jpg"
              alt="beige5"
              width="335"
              height="400"
              class="our-list-img"
            />
            <div class="our-name">
              <h3 class="our-subtitle">Mountain men's shirt</h3>
              <p class="our-list-text">3300 UAH</p>
            </div>
          </li>
          <li class="our-list-item">
            <img class="our-img"
            srcset="./img/white6-1x.jpg 1x,
                    ./img/white6-2x.jpg 2x"
              src="./img/white6-1x.jpg"
              alt="white6"
              width="335"
              height="400"
              class="our-list-img"
            />
            <div class="our-name">
              <h3 class="our-subtitle">Men's shirt Yasen</h3>
              <p class="our-list-text">1700 UAH</p>
            </div>
          </li>
        </ul>
</section>