<section class="testimonials" id="TEstimonials">
    <h2 class="testimonials-title">
        Testimonials
    </h2>
    <ul class="testimonials-list">


        <li class="first-testimonial">
            <picture>
                <source srcset="/src/img/maria-tkachuk-1x.jpg 1x, /src/img/maria-tkachuk-2x.jpg 2x"
                    media="(min-width: 375px)">
                <img src="/src/img/maria-tkachuk-1x.jpg" alt="maria tkachuk photo" width="64" height="64"
                    class="photo-testimonials" />
            </picture>
            <div class="testimonials-list-item">
                <h3 class="div-title">Maria Tkachuk</h3>
                <p class="div-text">I was pleasantly surprised by the variety of embroidery offered by Vyshyvanka
                    Vibes.
                    They have models for every taste -
                    from classic to modern. I bought an embroidered dress to celebrate a special occasion and
                    received
                    impeccable service
                    and refinement in every detail.</p>
            </div>
        </li>


        <li class="second-testimonial">
            <img class="photo-testimonials" srcset="/src/img/sergey-rybachok-1x.jpg 1x,
                            /src/img/sergey-rybachok-1x.jpg 2x" src="/src/img/sergey-rybachok-1x.jpg"
                alt="sergey rybachok photo" width="64" height="64">
            <div class="testimonials-list-item">
                <h3 class="div-title">Sergey Rybachok</h3>
                <p class="div-text">Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply
                    masterpieces! I fell in love with the quality
                    of the materials and the skill of the artisans behind each product. This is my favorite embroidery
                    shop where I always
                    find something special and unique.</p>
            </div>
        </li>


        <li class="third-testimonial">
            <img class="photo-testimonials" srcset="./src/img/sergey-rybachok-1x.jpg 1x,
                            ./src/img/sergey-rybachok-1x.jpg 2x" src="./src/img/sergey-rybachok-1x.jpg"
                alt="sergey rybachok photo" width="64" height="64">
            <div class="testimonials-list-item">
                <h3 class="div-title">Natalia Chatuk</h3>
                <p class="div-text">Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian culture.
                    Their embroidery reflects the spirit and
                    traditions of our people. I not only buy embroidered shirts for myself, but also give them to my
                    friends abroad as a
                    symbol of our beauty and national pride.</p>
            </div>
        </li>
    </ul>
</section>