<section class="testimonials" id="TEstimonials">
    <h2 class="testimonials-title">
        Testimonials
    </h2>
    <ul class="testimonials-list">


        <li class="first-testimonial">
            <picture class="testimonial-picture">
                <source srcset="./img/maria-tkachuk-1x.png 1x, ./img/maria-tkachuk-2x.png 2x"
                    media="(min-width: 375px)">
                <img src="./img/maria-tkachuk-1x.png" alt="Maria Tkachuk photo" width="64" height="64"
                    class="photo-testimonials" />
            </picture>
            <div class="testimonials-list-item">
                <h3 class="div-title">Maria Tkachuk</h3>
                <p class="div-text">I was pleasantly surprised by the variety of embroidery offered by Vyshyvanka
                    Vibes.
                    They have models for every taste -
                    from classic to modern. I bought an embroidered dress to celebrate a special occasion and
                    received
                    impeccable service
                    and refinement in every detail.</p>
            </div>
        </li>


        <li class="second-testimonial">
            <picture class="testimonial-picture">
                <source srcset="./img/sergey-rybachok-1x.png 1x, ./img/sergey-rybachok-2x.png 2x"
                    media="(min-width: 375px)">
                <img src="./img/sergey-rybachok-1x.png" alt="Sergey Rybachok photo" width="64" height="64"
                    class="photo-testimonials" />
            </picture>
            <div class="testimonials-list-item">
                <h3 class="div-title">Sergey Rybachok</h3>
                <p class="div-text">Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply
                    masterpieces! I fell in love with the quality
                    of the materials and the skill of the artisans behind each product. This is my favorite embroidery
                    shop where I always
                    find something special and unique.</p>
            </div>
        </li>


        <li class="third-testimonial">
            <picture class="testimonial-picture">
                <source srcset="./img/natalia-chatuk-1x.png 1x, ./img/natalia-chatuk-2x.png 2x"
                    media="(min-width: 375px)">
                <img src="./img/maria-tkachuk-1x.png" alt="Natalia Chatuk photo" width="64" height="64"
                    class="photo-testimonials" />
            </picture>
            <div class="testimonials-list-item">
                <h3 class="div-title">Natalia Chatuk</h3>
                <p class="div-text">Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian culture.
                    Their embroidery reflects the spirit and
                    traditions of our people. I not only buy embroidered shirts for myself, but also give them to my
                    friends abroad as a
                    symbol of our beauty and national pride.</p>
            </div>
        </li>
    </ul>
</section>