
<section id="CUSTOMER ORDER" class="your-order ornament">
  <div class="your-order-box">
    <div class="title-form-box">
      <h2 class="your-order-title">
        <span class="your-order-title-part">Your order</span> is our priority:
        Personalized approach and quality of service
      </h2>
      <form class="your-order-form">
        <input
          type="text"
          name="user-name"
          maxlength="10"
          pattern="[A-Za-z0-9]{6,}"
          title="Ім'я не может бути меншим за 6 латинських символів."
          class="your-order-input"
          placeholder="Enter your full name"
        />
        <input
          type="email"
          name="user-email"
          minlength="6"
          pattern="[A-Za-z0-9]{6,}"
          title="І-мейл не может бути меншим за 6 латинських символів."
          class="your-order-input"
          placeholder="Enter your email"
        />
        <textarea
          name="user-text"
          class="your-order-textarea"
          placeholder="Comments"
        ></textarea>
        <button type="submit" class="your-order-form-btn">
          Send
          <svg class="your-order-icon" width="26" height="10">
            <use href="../img/icons.svg#icon-send-order"></use>
          </svg>
        </button>
      </form>
    </div>
    <picture class="your-order-image image-container">
      <source
        srcset="
          ./img/your-order-img/your-order-img-desc-1x.jpg 1x,
          ./img/your-order-img/your-order-img-desc-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/your-order-img/your-order-img-tab-1x.jpg 1x,
          ./img/your-order-img/your-order-img-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <img src="./img/your-order-img/your-order-img-desc-1x.jpg" alt="vyshyvanka" />
    </picture>
  </div>
</section>
