.section-title {
  margin-bottom: 40px;
}

.about {
  padding: 80px 0;
 
}
.element{
    background-image:
     url(../img/about_us/embroidery-mob-1x.png);
    background-repeat: no-repeat;
    background-position: right 0% bottom 18px ;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .element{
        background-image:
         url(../img/about_us/embroidery-mob-2x.png);
         background-size: 250px;
    }
}

.about-us-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}

.margin-width {
  margin-top: 20px;
}

.about-img-content {
  width: 335px;
  height: 499px;
  margin-top: 50px;
}


.about-img-background {
  color: #fcf9f9;
  opacity: 10%;
}

@media screen and (min-width: 768px) {
  .about {
    padding: 100px 0;
    flex-wrap: wrap;
  }
  .about-text-container {
    padding: 0;
  }
  .about-background {
    bottom: 50px;
  }
  .about-img-content {
    width: 704px;
    height: 545px;
    margin-top: 40px;
}
.about-us-text{
    font-size: 16px;
}
.element{
    background-image:
     url(../img/about_us/embroidery-tab-1x.png);
    background-repeat: no-repeat;
    background-position: right 0% bottom 50px ;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .element{
        background-image:
         url(../img/about_us/embroidery-tab-2x.png);
         background-size: 369px;
    }
}
}

@media screen and (min-width: 1280px) {
  .about {
    padding: 150px 0;
    display: flex;
    gap: 50px;
  }
  .about-text-container {
    padding: 45px 0;
  }
  .about-us-text {
    width: 436px;
    color: rgba(252, 249, 249, 0.4);
    text-align: left;
  }
  .about-text-container {
    padding: 45px 0;
  }
  .about-img-content {
    width: 594px;
    height: 545px;
    margin-top: 0;
  }
  .about-background{
    bottom: 70px;
  }
  .element{
    background-image:
     url(../img/about_us/embroidery-dekstop-1x.png);
    background-repeat: no-repeat;
    background-position: right 0% bottom 70px ;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .element{
        background-image:
         url(../img/about_us/embroidery-dekstop-2x.png);
         background-size: 385px;
    }
}
}
