.footer {
  
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  padding-top: 40px;
  padding-bottom: 20px;
  
}

.container-last {
  padding-left:0 ;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}


.nav-list-footer {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.footer-nav {
  font-weight: 400;
  line-height: 1.3em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-footer {
  display: flex;
  align-items: center;
  gap: 25px 40px;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-list-footer .footer-nav-item:nth-child(3) {
  margin-left: 49px;
}

.footer-nav-item:nth-child(1),
.footer-nav-item:nth-child(3) {
  order: 1;
}

.footer-nav-item:nth-child(2),
.footer-nav-item:nth-child(4) {
  order: 2;
}

.footer-nav {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
  text-transform: uppercase;
}

.footer-nav:hover,
.footer-nav:focus {
  color: #ecd979;
}

.footer-nav-container {
  margin-bottom: 40px;
}
.slogan-container {
  
  width: 335px;
  margin-bottom: 280px;
}

.slogan {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: -0.03em;
}

.ukrainian {
  color: #ecd979;
  font-size: 44px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -0.03em;
}

.ornament-footer {
  background-image: url(../img/footer/footer-mob-1x.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 375px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .ornament-footer {
    background-image: url(../img/footer/footer-mob-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .container-last {
    padding-right:  0 ;
    padding-left: 32px;
    display: flex;
  }

  .footer-nav-container {
   
    margin-top: 0;
    margin-bottom: 80px;
   
   
  }

  .nav-list-footer {
    list-style-type: none;
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;
  }

  .nav-list-footer .footer-nav-item:nth-child(3) {
    margin-left: 0;
  }

  .footer-nav-item:nth-child(1),
  .footer-nav-item:nth-child(3) {
    order: 2;
  }

  .footer-nav-item:nth-child(2),
  .footer-nav-item:nth-child(4) {
    order: 2;
  }

  .slogan-container {
   
    width: 521px;
    margin-bottom: 0;
    
  }
  .slogan {
    font-size: 54px;
    line-height: 1.185em;
  }

  .ornament-footer {
    background-image: url(../img/footer/footer-tab-1x.png);
    background-repeat: no-repeat;
    background-size: 193px;
    background-position: right 0% bottom 0%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .ornament-footer {
      background-image: url(../img/footer/footer-tab-2x.png)
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .container-last {
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
  .nav-list-footer {
    list-style-type: none;
    display: flex;
    gap: 25px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-footer .footer-nav-item:nth-child(2) {
    margin-left: 0;
  }

  .footer-nav {
    font-weight: 400;
    line-height: 1.3em;
    text-transform: uppercase;
  }

  .footer-nav-container {
    margin-bottom: 117px;
  }
  .slogan-container {
   
    width: 754px;
    margin-bottom: auto;
  }

  .slogan {
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: -0.03em;
  }

  .ukrainian {
    color: #ecd979;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: -0.03em;
  }

  .ornament-footer {
    background-image: url(../img/footer/footer-dek-1x.png);
    background-repeat: no-repeat;
    background-size: 336px;
    background-position: right 0% bottom 0%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .ornament-footer {
      background-image: url(../img/footer/footer-dek-2x.png);
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
 
  
  .ornament-footer {
    background-image: url(../img/footer/footer-1440-1x.png);
    background-repeat: no-repeat;
    background-size: 496px;
    background-position: right 0% bottom 0%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .ornament-footer {
      background-image: url(../img/footer/footer-1440-2x.png);
    }
  }
}
