.hero-container {
  width: 335px;
  height: 216px;
  padding-top: 60px 20px 80px;
}

.hero-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
}

.hero-title-wrap {
  color: #ecd979;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
}

.hero-discription {
  display: none;
}

.hero-discription-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}

.hero-button-box {
  margin: 20px 110px 40px 70px;
}

.hero-button {
  display: inline-flex;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: inherit;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.hero-button-link {
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.hero-button-icons-wrap {
  width: 26px;
  height: 10px;
  transform: rotate(-30deg);
}

.hero-button-icons {
  fill: #ecd979;
}

.hero-img-wrap {
  border-radius: 4px;
  margin: 0 auto;
}

/*===== MOBILE =====*/

@media screen and (max-width: 767px) {
  .hero-picture {
    width: 335px;
    height: 545px;
  }

  .hero-embroidery-element-img {
    display: none;
  }
}

/*===== TABLET =====*/

@media screen and (min-width: 768px) {
  .hero-container-box {
    display: flex;
    flex-direction: row;
    padding-top: 112px;
  }

  .hero-title {
    /* position: relative; */
    max-width: 549px;
  }

  .hero-title {
    font-size: 54px;
    line-height: 1.18;
  }

  .hero-title-wrap {
    font-size: 54px;
    line-height: 1.18;
  }

  .hero-discription {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* position: absolute; */
    margin-bottom: auto;
    margin-left: auto;
  }

  .hero-discription-text {
    width: 115px;
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
  }

  .hero-button-box {
    margin: 40px 240px 40px 141px;
  }

  .hero-button-link {
    font-size: 16px;
  }

  .hero-picture-box {
    display: flex;
    flex-direction: row;
  }

  .hero-picture {
    width: 413px;
    height: 575px;
    background-repeat: no-repeat;
  }

  .hero-embroidery-element-img {
    width: 157px;
    height: 191px;
    margin-top: auto;
    margin-left: auto;
  }
}

/* =====DESKTOP===== */

@media screen and (min-width: 1280px) {
  .hero-embroidery-element-img {
    width: 142px;
    height: 157px;
  }
}
