.hero-container {
  padding-top: 60px;
  padding-bottom: 80px;
}

.hero-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
}

.hero-title-wrap {
  color: #ecd979;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
}

.hero-discription {
  display: none;
}

.hero-discription-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}

.hero-button-box {
  margin: 20px 110px 40px 70px;
}

.hero-button {
  display: inline-flex;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: inherit;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover,
.hero-button:active {
  border: 1px solid #ecd979;
}

.hero-button-link {
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.hero-button-icons-wrap {
  width: 26px;
  height: 10px;
}

.hero-button-icons {
  fill: #ecd979;
}

.hero-img-wrap {
  border-radius: 4px;
  margin: 0 auto;
}

.hero-embroidery-element-img {
  display: none;
}

/*===== TABLET =====*/

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 106px;
    padding-bottom: 100px;
    position: relative;
  }

  .hero-container-box {
    flex-direction: column;
  }

  .hero-title {
    max-width: 549px;
  }

  .hero-title {
    font-size: 54px;
    line-height: 1.18;
  }

  .hero-title-wrap {
    font-size: 54px;
    line-height: 1.18;
  }

  .hero-discription {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    right: 32px;
    top: 80px;
  }

  .hero-discription-icons {
    fill: #ecd979;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-discription-icons:focus,
  .hero-discription-icons:hover {
    color: #fcf9f9;
  }

  .hero-discription-text {
    width: 115px;
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
  }

  .hero-button-box {
    margin: 40px 240px 40px 141px;
  }

  .hero-button-link {
    font-size: 16px;
  }

  .hero-picture-box {
    display: flex;
    flex-direction: row;
  }

  .hero-picture {
    width: 413px;
    height: 575px;
    background-repeat: no-repeat;
  }

  .hero-embroidery-element-img {
    display: flex;
    width: 139px;
    position: absolute;
    right: 32px;
    bottom: 100px;
  }
}

/* =====DESKTOP===== */

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 0px;
  }

  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 150px;
    justify-content: flex-end;
  }

  .hero-title {
    padding-top: 94px;
    padding-left: 40px;
  }

  .hero-discription {
    right: 114px;
    top: 114px;
  }

  .hero-embroidery-element-img {
    width: 139px;
    right: 96px;
    bottom: 150px;
  }
}
