


    .model-one{
    min-width: 375px;
    min-height: 550px;
    max-width: 1440px; 
    top:0;
    padding: 0;
    flex-shrink: 0;
    background-image:url(../img/model-jpg/Imagemob-1x-min.jpg);
  margin: auto;
background-repeat: no-repeat; 
background-size:cover;
background-position:center;


@media (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .model-one{
        background-image: url(../img/model-jpg/Imagemob-2x-min.jpg);
    }
}
    }

@media screen and (min-width: 768px){
    .model-one{ 
max-width: 768px;
height: 776px;
        background-image: url(../img/model-jpg/Imagetab-1x-min.jpg);}
        @media (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .model-one{
        max-width: 1280px;
height: 776px;
        background-image: url(../img/model-jpg/Imagetab-2x-min.jpg);
    }
}
}
@media screen and (min-width: 1280px){
    .model-one{  background-image:url(../img/model-jpg/Image1280-1x-min.jpg);}
    @media (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .model-one{
        background-image: url(../img/model-jpg/Image1280-2x-min.jpg);
    }
}
}

@media screen and (min-width: 1440px){

    .model-one{ 
        max-width: 1440px;
height: 776px;
 background-image: url(../img/model-jpg/Image1420-1x-min.jpg);}
 @media (min-device-pixel-ratio: 2), 
 (min-resolution: 192dpi),
 (min-resolution: 2dppx){
    .model-one{
        background-image: url(../img/model-jpg/Image1420-2x-min.jpg);
    }
 }
}




