/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./header.css');
@import url('./hero.css');
@import url('./about_us.css');
@import url('./our_collection.css');
@import url('./section_model.css');
@import url('./your_order.css');
@import url('./testimonials.css');
@import url('./footer.css');
@import url('./reset.css');


:root {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #FCF9F9;
  background-color: #1C2225;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
