/* section-model */
.model-one{
    min-width: 375px;
    min-height: 550px;
    max-width: 1440px; 
    top:0;
    padding: 0;
    flex-shrink: 0;
    background-image:url(../img/model/model-jpg/Imagemob-1x-min.jpg);
  margin: auto;
background-repeat: no-repeat; 
background-size:cover;
background-position:center;


@media (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .model-one{
        background-image: url(../img/model/model-jpg/Imagemob-2x-min.jpg);
    }
}
    }

@media screen and (min-width: 768px){
    .model-one{ 
max-width: 768px;
height: 776px;
        background-image: url(../img/model/model-jpg/Imagetab-1x-min.jpg);}
        @media (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .model-one{
        max-width: 1280px;
height: 776px;
        background-image: url(../img/model/model-jpg/Imagetab-2x-min.jpg);
    }
}
}
@media screen and (min-width: 1280px){
    .model-one{  background-image:url(../img/model/model-jpg/Image1280-1x-min.jpg);}
    @media (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .model-one{
        background-image: url(../img/model/model-jpg/Image1280-2x-min.jpg);
    }
}
}

@media screen and (min-width: 1440px){

    .model-one{ 
        max-width: 1440px;
height: 776px;
 background-image: url(../img/model/model-jpg/Image1420-1x-min.jpg);}
 @media (min-device-pixel-ratio: 2), 
 (min-resolution: 192dpi),
 (min-resolution: 2dppx){
    .model-one{
        background-image: url(../img/model/model-jpg/Image1420-2x-min.jpg);
    }
 }
}
/*  */

.your-order {
  display: flex;
  padding: 80px 0;
}

.your-order-box {
  margin: 0 auto;
  display: flex;
  max-width: 375px;
  padding: 0 20px;
}

.title-form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.your-order-form {
  display: flex;
  flex-direction: column;
  width: 335px;
}

.ornament {
  background-size: 0%;
}

.image-container {
  margin-left: 66px;
}
.your-order-title {
  width: 335px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.your-order-title-part {
  color:  #ecd979;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

.your-order-input {
  height: 47px;
  margin-bottom: 20px;
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02em;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: #1c2225;
  padding: 14px 16px;
}

.your-order-input:active {
  color:  #fcf9f9;
  border: 1px solid rgba(252, 249, 249, 0.6);
}

.your-order-textarea {
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02em;
  width: 100%;
  height: 196px;
  margin-bottom: 40px;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: #1c2225;
  padding: 14px 16px;
  resize: none;
}

.your-order-form-btn {
  background-color: inherit;
  width: 145px;
  height: 49px;
  margin: auto;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  color:  #fcf9f9;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.your-order-form-btn:hover,
.your-order-form-btn:focus {
  border: 1px solid  #ecd979;
}
.your-order-icon{
  margin-left: 10px;
}

.your-order-image {
  display: none;
}

.your-order-form-btn {
  font-size: 16px;
  margin: 0;
}




@media screen and (min-width: 768px) {
  .your-order {
    padding: 100px 0 80px;
  }
  .your-order-box {
    max-width: 768px;
    padding: 0 32px;
    flex-direction: column;
    justify-items: left;
  }
  .your-order-form {
    width: 508px;
  }
  .ornament {
    display: flex;
    background-image: url(../img/your_order/your-order-img/yo-ornament-tab-png-1x.png);
    background-repeat: no-repeat;
    background-position: left 0% bottom 0%;
    background-size: 323px;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .ornament {
    background-image: url(../img/your_order/your-order-img/yo-ornament-tab-png-2x.png);
  }
}
.your-order-image {
  display: flex;
  align-items: end;
}
.your-order-title {
  width: 542px;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.03em;
}
.your-order-title-part {
  font-size: 44px;
  letter-spacing: -0.03em;
}
.your-order-input {
  height: 50px;
}

.your-order-form-btn {
  margin: 0;
}
.title-form-box {
  margin-bottom: 100px;
}
}
  

  @media screen and (min-width: 1280px) {
    .your-order {
      padding: 150px 0 0 ;
    }
    .your-order-box {
      max-width: 1280px;
      padding: 0 100px 0 64px;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 50px;
    }
    .ornament {
      background-image: url(../img/your_order/your-order-img/yo-ornament-desc-png-1x.png);
      background-repeat: no-repeat;
      background-position: left 0% bottom 0%;
      background-size: 289px;
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .ornament {
    background-image: url(../img/your_order/your-order-img/yo-ornament-desc-png-2x.png);
  }
}
.your-order-image {
  margin-top: 0;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.image-container {
  margin-left: 0;
}

.your-order-form-btn {
  margin: 0;
}
.title-form-box {
  margin-bottom: 0;
}
    }

    @media screen and (min-width: 1440px) {
      .your-order {
        padding: 150px 0 0;
      }
      .your-order-box {
        max-width: 1440px;
        padding: 0 100px;
      }
      .ornament {
        background-image: url(../img/your_order/your-order-img/yo-ornament-desc1440-png-1x.png);
        background-repeat: no-repeat;
        background-position: left 0% bottom 0%;
        background-size: 289px;
      }
      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .ornament {
    background-image: url(../img/your_order/your-order-img/yo-ornament-desc1440-png-2x.png);
  }
}
.your-order-title {
  width: 666px;
}
      }
