
.your-order-box {
    
    display: flex;
    align-items: center;
}

@media screen and (min-width: 375px) {
    .your-order-box {
      max-width: 375px;
      padding: 80px 20px;
    }
  }
  @media screen and (min-width: 768px) {
    .your-order-box {
      max-width: 768px;
      padding: 100px 32px;
    
    }
  }
  @media screen and (min-width: 1280px) {
    .your-order-box {
      max-width: 1280px;
    padding: 150px 100px 64px;
   
    }
  }


.title-form-box {
    display: flex;
    flex-direction: column;
}

.your-order-form {
    display: flex;
    flex-direction: column;
    
}

.ornament {
display: none;
/* z-index: 1; */
}

/* @media screen and (min-width: 768px) {
    .ornament {
        background-image: 
        url(../img/your-order-img/yo-ornament-tab-png-1x.png);
        background-repeat: no-repeat;
        /* background-position: left 0% bottom 0%; 
    }
 } 

 @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .ornament {
        background-image:
        url(../img/your-order-img/yo-ornament-tab-png-2x.png); 
    }
  }
     


@media screen and (min-width: 1280px) {
    .ornament {
        background-image: 
        url(../img/your-order-img/yo-ornament-desc-png-1x.png);
        background-repeat: no-repeat;
        /* background-position: left 0% bottom 0%; 
    }
} 

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .ornament {
        background-image:
        url(../img/your-order-img/yo-ornament-desc-png-2x.png); 
    }
  }  */
    

.your-order-image {
    display: none;
}

@media screen and (min-width: 768px) {
    .your-order-image {
        width: 638px;
        height: 521px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: end;
    }
}

@media screen and (min-width: 1280px) {
    .your-order-image {
        width: 524px;
        height: 521px;
        align-items: start;
    }
}

.your-order-title {
font-size: 32px;
font-weight: 500;
line-height: 1.3;
letter-spacing: 0.03em;
margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .your-order-title {
        width: 542px;
        font-size: 44px;
        letter-spacing: 0.03em;
    }
    
}

.your-order-title-part {
    color: var(--white, #ECD979);
font-size: 32px;
font-weight: 500;
line-height: 1.3;
letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
    .your-order-title-part {
        font-size: 44px;
        letter-spacing: 0.03em;
    }
    
}

.your-order-input {
height: 47px;
margin-bottom: 20px;
color: rgba(252, 249, 249, 0.50);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.02em;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
background-color: #1C2225;
padding: 14px 16px;
}

.your-order-input:active {
    color: var(--white, #FCF9F9);
    border: 1px solid rgba(252, 249, 249, 0.60);
}

@media screen and (min-width: 768px) {
    .your-order-input {
        width: 508px;
        height: 50px;
    }
}

.your-order-textarea {
    width: 100%;
    height: 196px;
    margin-bottom: 40px;
    border-radius: 8px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background-color: #1C2225;
    padding: 14px 16px;
    resize: none;
}

@media screen and (min-width: 768px) {
    .your-order-textarea {
        width: 508px;
        height: 196px;
    }
}

.your-order-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1C2225;
    width: 145px;
    height: 49px;
    margin: auto;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    color: var(--white, #FCF9F9);
font-size: 14px;
font-weight: 600;
line-height: normal;
letter-spacing: 0.04em;
text-transform: uppercase;

}

@media screen and (min-width: 768px) {
    .your-order-form-btn {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .your-order-form-btn {
        margin: 0;
       }
}

.your-order-form-btn:hover,
.your-order-form-btn:focus {
    border: 1px solid var(--yellow, #ECD979);
}





